<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sage.activities"
    android:installLocation="auto"
    android:versionCode="13"
    android:versionName="13.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.sage.activities.permission.C2D_MESSAGE" />

    <permission
        android:name="com.sage.activities.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Keeps processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permission to vibrate when receive a notification -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Lets app receive data messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.sage.application.GoogleAnalyticsApplication"
        android:allowBackup="true"
        android:icon="@drawable/sage_dashboard_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver
            android:name="com.sage.backgroundServices.CategoriesReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.CategoriesBackgroundService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.SignTermsReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.SignTermsService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.GetNewsfeedRecipiesReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.GetNewsfeedRecipesService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.DeleteRecipesReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.DeleteRecipesService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.SaveRecipesReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.SaveRecipesService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.SyncFollowUsersReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.SyncFollowAndUnfollowUsers"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.GetFollowingReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.FollowingBackgroundService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.RecipesForCategoryReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.GetRecipesForCategoriesService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.GetProfileRecipiesReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.GetProfilePageRecipesService"
            android:exported="false" />

        <receiver
            android:name="com.sage.backgroundServices.GetProfilePageRecipiesForFollowingReceiver"
            android:process=":remote" />

        <service
            android:name="com.sage.backgroundServices.GetProfilePageRecipesForFollowing"
            android:exported="false" />
        <service
            android:name="com.sage.backgroundServices.GcmRegistrationService"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.sage.activities" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.sage.backgroundServices.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.sage.backgroundServices.IntanceIdRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name="com.sage.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sage.activities.TextReciptPageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_personal_page"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.NewsfeedActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.SearchLinkResultsActivity"
            android:label="@string/title_activity_search_link"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.sage.activities.ProfilePageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_profile_page" />
        <activity
            android:name="com.sage.activities.PictureRecipePageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_picture_recipe_page"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.RegisterNewUserActivity"
            android:label="@string/title_activity_register_new_user"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.LinkRecipePageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_link_recipe_page"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.ActivityCategoriesPage"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_categories_page"
            android:launchMode="singleTop" />
        <activity
            android:name="com.sage.activities.ActivityRecipiesInCategoryPage"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_sub_category_page" />
        <activity
            android:name="com.sage.activities.AddRecipeAsLinkActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_add_recipe_as_link" />
        <activity
            android:name="com.sage.activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.DisplayLinkWebPageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_display_link_web_page" />
        <activity
            android:name="com.sage.activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.SearchMyRecipesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search_my_recipes"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.DisplayFollowingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_display_who_ifollow"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.SearchUserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search_user"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.ChangeUserDisplayNameActivity"
            android:label="@string/title_activity_change_user_display_name"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.SearchMyFollowActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search_my_follow"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sage.activities.DisplayImageActivity"
            android:label="@string/title_activity_display_image"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.sage.activities.TermsActivity"
            android:label="@string/title_activity_terms"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.sage.activities.DisplayRecipeLikesActivity"></activity>
    </application>

</manifest>